@font-face {
  font-family: 'Favorit';
  src: 
    url('./assets/fonts/Favorit-Regular_Bold.ttf') format('truetype'),
    url('./assets/fonts/Favorit-Regular_Bold.woff') format('woff'),
    url('./assets/fonts/Favorit-Regular_Bold.woff2') format('woff2');
}

:root {
  --clr-background: #0e0c1d;
  --clr-green: #bdfdb7;
  --clr-disabled: #ebebe466;
  --clr-blur: linear-gradient(#77d6ff14, #caa9ff14);
  --clar-blur-border: #ffffff1a;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Favorit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  margin: 0;
}

button {
  outline: none;
  color: #fff;
  border: none;
  cursor: pointer;
  background: transparent;
  font-family: 'Favorit', sans-serif;
}

.disabled {
  pointer-events: none;
  color: var(--clr-disabled);
}

.img-right-arrow {
  width: 1.2rem;
  position: absolute;
  right: 1.7em;
  transition: ease 200ms;
}

.img-metamask {
  width: 1.75rem;
  margin-right: 0.5em;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-container {
  height: 100vh;
  background-color: var(--clr-background);
}

.nav-container {
  padding: 1em;
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-content {
  width: min(100%, 70rem);
  margin: 0 auto;
}

.nav-content-tab-group {
  width: 20rem;
  font-size: 1.125rem;
  position: absolute;
  left: 50%;
  transform: translateX(-44%);
}

.nav-content-tab {
  cursor: pointer;
}

.nav-content-tab:hover {
  color: var(--clr-green);
}

.nav-content-chip {
  padding: 0.625em 2em;
  border-radius: 3.125em;
  background-image: var(--clr-blur);
  border: 1px solid var(--clar-blur-border);
}

.nav-content-btn {
  font-size: 1.125rem;
  font-weight: 600;
  position: relative;
  padding: 0.55em 3.4em 0.55em 1.8em;
  border-radius: 3.25em;
  background-image: var(--clr-blur);
  border: 1px solid var(--clar-blur-border);
  transition: ease 150ms;
}

.nav-content-btn:hover {
  color: var(--clr-background);
  background-color: var(--clr-green);
}

.home-container {
  position: relative;
  height: calc(100% - 80px);
  padding: 0 1em;
}

.radial-gradient {
  width: 100%;
  height: 100%;

  background-image: 
    radial-gradient(at center top, #bdfdc74d, #bdfdc700 45%), 
    radial-gradient(at center bottom, #d8c9f640, #d8c9f600 45%);
}

.placeholder-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(100%, 40rem);
  height: 11.25rem;
  flex-direction: column;
  border-radius: 0.375em;
  border: 1px solid var(--clar-blur-border);
  background-image: var(--clr-blur);
}

.placeholder-header {
  font-size: 2.25rem;
  margin-bottom: 0.65em;
}

.placeholder-btn {
  font-size: 1.25rem;
  font-weight: 800;
  padding: 0.5em 3em;
  border-radius: 2.5em;
  background-color: var(--clr-background);
}

